.page-header {
  min-height: 62px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #1d2631;

  font-weight: 300;
  color: #ffffff;
}

.page-header__nav-wrapper {
  @media (min-width: $desktop-width) {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
