.css-table__table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  box-sizing: border-box;
}

.css-table__row {
  display: table-row;
}

.css-table__cell {
  display: table-cell;
  border: 2px solid black;
}
